.section-project {
    margin-top: 0;
    margin-bottom: 30px;
    @include media-breakpoint-up(sm) {
        margin-top: 0;
        margin-bottom: 35px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 0;
        margin-bottom: 50px;
    }
    @include media-breakpoint-up(xxl) {
        margin-top: 0;
        margin-bottom: 60px;
    }
}

@import 'project-hero';