@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura/FuturaBookC/FuturaBookC.eot');
    src: url('../fonts/Futura/FuturaBookC/FuturaBookC.eot#iefix') format('embedded-opentype'),
    url('../fonts/Futura/FuturaBookC/FuturaBookC.ttf') format('truetype'),
    url('../fonts/Futura/FuturaBookC/FuturaBookC.woff') format('woff'),
    url('../fonts/Futura/FuturaBookC/FuturaBookC.svg#FuturaBookC') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura/FuturaLightC/FuturaLightC.eot');
    src: url('../fonts/Futura/FuturaLightC/FuturaLightC.eot#iefix') format('embedded-opentype'),
    url('../fonts/Futura/FuturaLightC/FuturaLightC.ttf') format('truetype'),
    url('../fonts/Futura/FuturaLightC/FuturaLightC.woff') format('woff'),
    url('../fonts/Futura/FuturaLightC/FuturaLightC.svg#FuturaLightC') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura/FuturaDemiC/FuturaDemiC.eot');
    src: url('../fonts/Futura/FuturaDemiC/FuturaDemiC.eot#iefix') format('embedded-opentype'),
    url('../fonts/Futura/FuturaDemiC/FuturaDemiC.ttf') format('truetype'),
    url('../fonts/Futura/FuturaDemiC/FuturaDemiC.woff') format('woff'),
    url('../fonts/Futura/FuturaDemiC/FuturaDemiC.svg#FuturaDemiC') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima_Nova/Proxima_Nova_Regular/Proxima_Nova_Regular.eot');
    src: url('../fonts/Proxima_Nova/Proxima_Nova_Regular/Proxima_Nova_Regular.eot#iefix') format('embedded-opentype'),
    url('../fonts/Proxima_Nova/Proxima_Nova_Regular/Proxima_Nova_Regular.ttf') format('truetype'),
    url('../fonts/Proxima_Nova/Proxima_Nova_Regular/Proxima_Nova_Regular.woff') format('woff'),
    url('../fonts/Proxima_Nova/Proxima_Nova_Regular/Proxima_Nova_Regular.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima_Nova/Proxima_Nova_Light/Proxima_Nova_Light.eot');
    src: url('../fonts/Proxima_Nova/Proxima_Nova_Light/Proxima_Nova_Light.eot#iefix') format('embedded-opentype'),
    url('../fonts/Proxima_Nova/Proxima_Nova_Light/Proxima_Nova_Light.ttf') format('truetype'),
    url('../fonts/Proxima_Nova/Proxima_Nova_Light/Proxima_Nova_Light.woff') format('woff'),
    url('../fonts/Proxima_Nova/Proxima_Nova_Light/Proxima_Nova_Light.svg#ProximaNovaLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima_Nova/Proxima_Nova_Bold/Proxima_Nova_Bold.eot');
    src: url('../fonts/Proxima_Nova/Proxima_Nova_Bold/Proxima_Nova_Bold.eot#iefix') format('embedded-opentype'),
    url('../fonts/Proxima_Nova/Proxima_Nova_Bold/Proxima_Nova_Bold.ttf') format('truetype'),
    url('../fonts/Proxima_Nova/Proxima_Nova_Bold/Proxima_Nova_Bold.woff') format('woff'),
    url('../fonts/Proxima_Nova/Proxima_Nova_Bold/Proxima_Nova_Bold.svg#ProximaNovaBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot');
    src:  url('../fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e904";
}
.icon-double-check:before {
  content: "\e903";
}
.icon-paperclip:before {
  content: "\e900";
}