.section-feedback {
    padding-top: 45px;
    padding-bottom: 45px;
    @include media-breakpoint-up(sm) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include media-breakpoint-up(md) {
        padding-top: 50px;
        padding-bottom: 65px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 60px;
        padding-bottom: 55px;
    }
    @include media-breakpoint-up(xl) {
        padding-top: 75px;
        padding-bottom: 70px;
    }
    @include media-breakpoint-up(xxl) {
        padding-top: 90px;
        padding-bottom: 85px;
    }
}


.feedback-block {
    padding: 30px 20px;
    border-radius: 20px;
    background-color: $c-white;
    @include media-breakpoint-up(sm) {
        padding: 25px 20px 30px;
    }
    @include media-breakpoint-up(lg) {
        padding: 45px 30px 45px;
    }
    @include media-breakpoint-up(xxl) {
        padding: 70px 80px 75px;
    }

    .feedback-title {
        margin: 0 0 10px;
        @include media-breakpoint-up(sm) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 5px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 35px;
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: 25px;
        }
    }
}

.form-feedback {
    > .row {
        @include media-breakpoint-up(lg) {
            margin-left: -$grid-gutter-width;
            margin-right: -$grid-gutter-width;
        }
        @include media-breakpoint-up(xxl) {
            margin-left: -$grid-gutter-width*1.075;
            margin-right: -$grid-gutter-width*1.075;
        }

        > .col,
        > [class*="col-"] {
            @include media-breakpoint-up(lg) {
                padding-left: $grid-gutter-width;
                padding-right: $grid-gutter-width;
            }
            @include media-breakpoint-up(xxl) {
                padding-left: $grid-gutter-width*1.075;
                padding-right: $grid-gutter-width*1.075;
            }
        }
    }
}