.section-faq {
    margin-top: 35px;
    margin-bottom: 35px;
    @include media-breakpoint-up(sm) {
        margin-top: 45px;
        margin-bottom: 25px;
    }
    @include media-breakpoint-up(md) {
        margin-top: 55px;
        margin-bottom: 40px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 55px;
        margin-bottom: 60px;
    }
    @include media-breakpoint-up(xl) {
        margin-top: 60px;
        margin-bottom: 70px;
    }
    @include media-breakpoint-up(xxl) {
        margin-top: 110px;
        margin-bottom: 120px;
    }

    .section-header {
        @include media-breakpoint-up(lg) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 35px;
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: 25px;
        }
    }
}