.section-categories {
    padding: 15px 0 55px;
    @include media-breakpoint-up(md) {
        padding: 15px 0 75px;
    }
    @include media-breakpoint-up(xl) {
        padding: 15px 0 70px;
    }
    @include media-breakpoint-up(xxl) {
        padding: 35px 0 115px;
    }

    &.section-dark {
        color: $c-white;
    }

    .section-header {
        margin-bottom: 25px;
        @include media-breakpoint-up(md) {
            margin-bottom: 30px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
        }
    }
}

.swiper-categories {
    margin-top: -15px;
    margin-bottom: -15px;
    @include media-breakpoint-up(md) {
        margin-left: 45px;
        margin-right: 45px;
    }
    @include media-breakpoint-up(lg) {
        margin-left: 50px;
        margin-right: 50px;
    }
    @include media-breakpoint-up(xxl) {
        margin-left: 35px;
        margin-right: 35px;
    }

    > .swiper-wrapper {
        margin: 0;

        > .swiper-slide {
            padding-top: 15px;
            padding-bottom: 15px;
            @include media-breakpoint-up(xxl) {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }


    .swiper-button-prev {
        left: 0;
        @include media-breakpoint-up(xxl) {
            left: -80px;
        }
    }

    .swiper-button-next {
        right: 0;
        @include media-breakpoint-up(xxl) {
            right: -80px;
        }
    }
}