.section-includes {
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 60px;
    @include media-breakpoint-up(sm) {
        padding-top: 45px;
        padding-bottom: 70px;
    }
    @include media-breakpoint-up(md) {
        padding-top: 55px;
        padding-bottom: 65px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 70px;
        padding-bottom: 95px;
    }
    @include media-breakpoint-up(xl) {
        padding-top: 90px;
        padding-bottom: 105px;
    }
    @include media-breakpoint-up(xxl) {
        padding-top: 155px;
        padding-bottom: 125px;
    }

    .section-header {
        margin-bottom: 10px;
        @include media-breakpoint-up(sm) {
            margin-bottom: 5px;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 15px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: 15px;
        }
    }
}

.includes-nav-hint {
    margin: 0 0 5px;
    font-size: 15px;
    line-height: 20px;
    @include media-breakpoint-up(sm) {
        margin-bottom: 20px;
    }
    @include media-breakpoint-up(md) {
        font-size: 16px;
        line-height: 20px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 35px;
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: 45px;
        font-size: 18px;
        line-height: 25px;
    }
    @include media-breakpoint-up(xxl) {
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 30px;
    }
}

.includes-grid {
    position: relative;
    &::before {
        position: absolute;
        z-index: -1;
        opacity: 0.5;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(107,82,161);
        background: -moz-linear-gradient(145deg, rgba(107,82,161,1) 0%, rgba(58,181,198,1) 100%);
        background: -webkit-linear-gradient(145deg, rgba(107,82,161,1) 0%, rgba(58,181,198,1) 100%);
        background: linear-gradient(145deg, rgba(107,82,161,1) 0%, rgba(58,181,198,1) 100%);
        filter: blur(15px);
        content: '';
        @include media-breakpoint-up(xxl) {
            opacity: 1;
            top: 0;
        }
    }
}

.swiper-includes {
    overflow: visible;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-right: 0;
    }

    .swiper-wrapper {
        .swiper-slide {
            opacity: 0.5;
            visibility: visible;
            transition: opacity 300ms linear, visibility 300ms ease;
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
            @include media-breakpoint-up(lg) {
                padding-left: 0;
                padding-right: 0;
            }

            &.swiper-slide-active {
                opacity: 1;
                visibility: visible;

                // + .swiper-slide-next {
                //     opacity: 0.5;
                //     visibility: visible;
                // }
            }
        }
    }


    .swiper-includes-button-prev,
    .swiper-includes-button-next {
        @include media-breakpoint-down(lg) {
            width: 40px;
            height: 40px;
            line-height: 40px;
        } 
    }

    .swiper-includes-button-prev {
        left: 0;
        transform: translateX(-15px);
        @include media-breakpoint-up(xl) {
            transform: translateX(calc(-100% - 30px));
        }
    }

    .swiper-includes-button-next {
        right: 0;
        transform: translateX(15px);
        @include media-breakpoint-up(xl) {
            transform: translateX(calc(100% + 30px));
        }
    }
}