.card-service {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    padding: 15px 15px 15px;
    background: $c-white;
    color: $c-default;
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
    @include media-breakpoint-up(lg) {
        font-size: 15px;
    }
    @include media-breakpoint-up(xl) {
        padding: 15px 20px 20px;
        font-size: 16px;
    }
    @include media-breakpoint-up(xxl) {
        padding: 35px 25px 30px;
        font-size: 17px;
    }

    &::before,
    &::after {
        position: absolute;
        z-index: -1;
        content: '';
    }
    
    &::before {
        opacity: 0.5;
        top: 10px;
        left: 5px;
        right: 5px;
        bottom: 0;
        background: rgb(94,63,201);
        background: -moz-linear-gradient(90deg, rgba(94,63,201,1) 0%, rgba(60,191,198,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(94,63,201,1) 0%, rgba(60,191,198,1) 100%);
        background: linear-gradient(90deg, rgba(94,63,201,1) 0%, rgba(60,191,198,1) 100%);
        filter: blur(10px);
        
        @include media-breakpoint-up(sm) {
            opacity: 0.75;
        }
        @include media-breakpoint-up(lg) {
            top: 15px;
        } 
        @include media-breakpoint-up(xl) {
            top: 10px;
            left: 5px;
            right: 5px;
            bottom: 0;
            border-radius: 20px;
            filter: blur(10px);
        }
        @include media-breakpoint-up(xxl) {
            top: 20px;
            left: 8px;
            right: 8px;
            bottom: 0;
            border-radius: 20px;
            filter: blur(15px);
        }
    }

    &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
    }


    .card-service-thumbnail {
        position: relative;
        margin: 0 0 10px;
        padding: 0 0 76%;
        @include media-breakpoint-up(sm) {
            padding: 0 0 74%;
        }
        @include media-breakpoint-up(lg) {
            margin: 0 0 15px;
        }
        @include media-breakpoint-up(xl) {
            margin: 0 0 20px;
        }
        @include media-breakpoint-up(xxl) {
            margin: 0 0 25px;
        }

        .card-service-media {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            pointer-events: none;
        }
    }


    .card-service-title {
        min-height: 60px;
        margin: 0 0 10px;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        color: $c-default-heading;
        @include media-breakpoint-up(lg) {
            min-height: 66px;
            margin: 0 0 15px;
            font-size: 17px;
            line-height: 22px;
        }
        @include media-breakpoint-up(xl) {
            min-height: 75px;
            font-size: 20px;
            line-height: 25px;
        }
        @include media-breakpoint-up(xxl) {
            min-height: 90px;
            font-size: 25px;
            line-height: 30px;
        }
    }

    .card-service-include-block {
        margin: 0 0 10px;
        @include media-breakpoint-up(xxl) {
            margin: 0 0 25px;
        }

        .card-service-include-title {
            margin: 0 0 12px;
            @include media-breakpoint-up(xl) {
                margin: 0 0 7px;
            }
            @include media-breakpoint-up(xxl) {
                margin: 0 0 15px;
            }
        }

        .card-service-include-list {
            margin: 0 -5px -5px;
            @include media-breakpoint-up(xxl) {
                margin: 0 -5px -5px;
            }

            .card-service-include-item {
                position: relative;
                z-index: 1;
                margin: 0 5px 10px;
                @include media-breakpoint-up(xxl) {
                    margin: 0 10px 10px;
                }

                .card-service-include-media {
                    max-width: 28px;
                    max-height: 28px;
                    object-fit: contain;
                    object-position: center;
                    @include media-breakpoint-up(xxl) {
                        max-width: 36px;
                        max-height: 36px;
                    }
                }
            }

            &.card-service-include-pills-list {
                .card-service-include-item {
                    width: 48px;
                    height: 48px;
                    margin: 0 5px 10px;
                    border: 1px solid #414342;
                    border-radius: 8px;
                    background-color: #2f2f2f;

                    &::before,
                    &::after {
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: inherit;
                        content: '';
                    }

                    &::before {
                        background: rgb(98,83,156);
                        background: -moz-linear-gradient(130deg, rgba(98,83,156,1) 0%, rgba(148,69,71,1) 50%, rgba(80,108,144,1) 100%);
                        background: -webkit-linear-gradient(130deg, rgba(98,83,156,1) 0%, rgba(148,69,71,1) 50%, rgba(80,108,144,1) 100%);
                        background: linear-gradient(130deg, rgba(98,83,156,1) 0%, rgba(148,69,71,1) 50%, rgba(80,108,144,1) 100%);
                        border-radius: 50%;
                        filter: blur(10px);
                        content: '';
                    }

                    &::after {
                        background: inherit;
                    }
                }
            }
        }
    }

    .card-service-cta {
        width: 40px;
        height: 40px;
        margin: auto 0 0;
        border: 1px solid #cacaca;
        border-radius: 50%;
        transition: background 150ms linear, border-color 150ms linear;
        text-align: center;
        line-height: 40px;
        @include media-breakpoint-up(xxl) {
            width: 50px;
            height: 50px;
            line-height: 50px;
        }

        .card-service-cta-media {
            color: currentColor;
            fill: currentColor;
        }
    }

    &:hover {
        color: $c-default;
        text-decoration: none;

        .card-service-title {
            color: rgba($c-default-heading, 0.9);
        }

        .card-service-cta {
            border-color: $c-secondary;
            background: $c-secondary;
            color: $c-white;
        }
    }
}