.card-requirement {
    max-width: 380px;
    
    .card-requirement-thumbnail {
        position: relative;
        width: 60px;
        height: 60px;
        padding: 3px;
        border: 1px solid $c-purple-dark;
        border-radius: 6px;
        background: rgb(87,69,153);
        background: -moz-linear-gradient(0deg, rgba(87,69,153,1) 0%, rgba(97,94,182,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(87,69,153,1) 0%, rgba(97,94,182,1) 100%);
        background: linear-gradient(0deg, rgba(87,69,153,1) 0%, rgba(97,94,182,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#574599",endColorstr="#615eb6",GradientType=1);
        box-shadow: 0 5px 15px rgba(158, 61, 208, 0.5);
        @include media-breakpoint-up(lg) {
            width: 72px;
            height: 72px;
        }
        @include media-breakpoint-up(xl) {
            width: 86px;
            height: 86px;
            margin-right: 15px;
            padding: 5px;
        }

        .card-requirement-media {
            max-width: calc(100% - 6px);
            max-height: calc(100% - 6px);

            @include media-breakpoint-up(xxl) {
                max-width: calc(100% - 10px);
                max-height: calc(100% - 10px);
            }
        }
    }

    .card-requirement-title {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        @include media-breakpoint-up(lg) {
            font-size: 20px;
            line-height: 25px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 22px;
            line-height: 25px;
        }
        @include media-breakpoint-up(xxl) {
            font-size: 25px;
            line-height: 30px;
        }
    }
}