.card-advantage {
    font-size: 14px;
    line-height: 20px;
    @include media-breakpoint-up(lg) {
        font-size: 15px;
        line-height: 22px;
    }
    @include media-breakpoint-up(xxl) {
        max-width: 250px;
        font-size: 18px;
        line-height: 25px;
    }
    
    .card-advantage-thumbnail {
        flex: 0 0 95px;
        width: 95px;
        max-width: 95px;
        height: 80px;
        margin: 0;
        @include media-breakpoint-up(sm) {
            height: 75px;
        }
        @include media-breakpoint-up(lg) {
            flex: 0 0 175px;
            width: 175px;
            max-width: 175px;
            height: 105px;
            margin: 0 0 20px;
        }
        @include media-breakpoint-up(xl) {
            margin: 0 0 10px;
        }
        @include media-breakpoint-up(xxl) {
            margin: 0 0 15px;
            height: 130px;
        }

        .card-advantage-media {
            max-width: 100%;
            max-height: 100%;
            object-fit: fill;
        }
    }

    .card-advantage-title {
        margin: 0 0 5px;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        @include media-breakpoint-up(lg) {
            margin: 0 0 10px;
            font-size: 17px;
            line-height: 25px;
        }
        @include media-breakpoint-up(xl) {
            margin: 0 0 5px;
            font-size: 20px;
            line-height: 30px;
        }
        @include media-breakpoint-up(xxl) {
            margin: 0 0 10px;
            font-size: 25px;
            line-height: 30px;
        }
    }
}