.loader {
    color: transparent;
    background-image: url('images/common/loaders/loading-white.svg');
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: center center;
}

.loader * {
    opacity: 0;
}