.footer-contact-block {
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    @include media-breakpoint-up(sm) {
        font-size: 17px;
    }
    @include media-breakpoint-up(md) {
        font-size: 22px;
        line-height: 40px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 25px;
        line-height: 50px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 30px;
    }
    @include media-breakpoint-up(xxl) {
        font-size: 40px;
    }

    a {
        color: $c-white;
        text-decoration: none;

        &[href^="mailto:"] {
            color: #8266e4;
            border-bottom: 1px solid currentColor;

            &:hover {
                border-bottom-color: transparent;
                text-decoration: none;
            }
        }
    }
}